/.settings/
/target/
/bin/
/lib/
/.idea/
/build/
/classes/
/caches/
/daemon/
/native/
/.vertx/
/.gradle/
/logs/
/wrapper/
/src/main/webapp/resources/img
/src/main/webapp/resources/attached/community/
/src/main/webapp/META-INF/context.xml
/gradle/wrapper/gradle-wrapper.properties
.classpath
.project
.springBeans
*.DS_Store
